html,body{
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #525252;
    
}
h2{
    text-transform: uppercase;
    font-variant: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image1{
    background-image: url(images/image1.png);
    min-height: 100%;
}
.image2{
    background-image: url(images/image2.png);
    min-height: 400px;
}
.image3{
    background-image: url(images/image3.png);
    min-height: 400px;
}
.image1, .image2, .image3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 28px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg1{
    background: #3d3f3f;
    color: #fff;
    padding:20px;
    font-style: normal;
    border-radius: 5px;
}
.textbg2{
    background: #e6e5e5;
    color: #313534;
    padding: 20px;
    font-style: normal;
    border-radius: 5px;
}
.textbg3{
    background: #6914ca;
    color: #947caf;
    padding: 20px;
    font-style: normal;
    border-radius: 5px;
}
.textbg4{
    background: #f0c1c1;
    color: #201f1f;
    padding: 20px;
    font-style: normal;
    border-radius: 5px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section_light{
    background-color: #f4f4f4;
    color: #666;
}
.section_dark{
    background-color: #313534;
    color: #ddd;
}